*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* header e logo */
.d-flex{
    display: flex;
    align-items: center;
}
#logo{
    width: 100px;
    height: 100px;
}
header h1{
    font-size: 2rem;
}
/* box icone */
.box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px grey;
    border-radius: 10px;
    margin: 10px 20px;
}
.box div{
    font-size: 1.5rem;
}
#icons-container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* filtro select */
.container-filter{
    display: flex;
    justify-content: center;
    background-color: rgb(71, 144, 255);
}
.container-filter h2{
    margin: 0px 20px;
    padding: 10px 0;
}